<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <!-- <img src="VITLogoEmblem.png" alt="logo" class="logo"> -->
    </div>

    <div class="outer_most">
        <h2>Welcome <%=id%> </h2> <br>

        <div class="cartoon">
            <div class="box" onclick="ex('<%=question%>','<%=id%>')"">
                Give Test   
            </div>
            <div class="box">
                View Score 
            </div>
            <div class="box">
                Act 3
            </div>
            <div class="box">
                Act 4
            </div>
        </div>
        
    </div>
    <script src="/home.js"></script>
</body>
</html>

<!-- should write welcome student name -->