<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <!-- <img src="VITLogoEmblem.png" alt="logo" class="logo"> -->
    </div>
    <div class="headtxt">
        <h1 class="title">Log into the portal</h1>
    </div>

    <div class="contains">
        <form action="/auth?_method=PATCH" method="post" class="login">
            <div class="boundary">
                <div class="inner_boundary">
                    <div class="invalid">Invalid Credentials</div>
                    <label for="username" class="username">Login ID:</label><br><br>
                    <input type="text" name="username" class="input_box"><br><br>
                    <label for="password" class="password">Password:</label><br><br>
                    <input type="password" name="password" class="input_box"><br><br>
                    <button class="login_button submit">Login</button>
                </div>
            </div>
        </form>  
    </div>
    
    
</body>
</html>