<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <img src="VITLogoEmblem.png" alt="logo" class="logo">
    </div>

    <div class="container">
        <p>Question Posted Sucessfully!</p>
    </div>
    
    
</body>
</html>