<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <img src="VITLogoEmblem.png" alt="logo" class="logo">
    </div>
    <div class="cartoon">
        <div class="box" onclick="newTest()">
            New Test   <!-- this should take to the questions page -->
        </div>
        <div class="box" onclick="pastTests()">
            Past Tests  <!-- this should display all the tests in a table when we click on a particular test then it should go display the question and the people submitted -->
        </div>
        <div class="box" onclick="gradeTest('<%=id%>')">
            Grade Test
            
        </div>
        <div class="box">
            Act 4
        </div>
    </div>
    <script src="/teacher1.js"></script>
</body>
</html>

