<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <img src="VITLogoEmblem.png" alt="logo" class="logo">
    </div>
    <div class="has">
        <form action="/success" method="post">
            <label for="question" class="ques">Enter the question.</label> <br>
            <textarea name="question" id="question" cols="30" rows="10"></textarea><br>
            <button class="submit">Post</button> &nbsp;
            <button class="cancel">Cancel</button><!-- this cancel button functionality -->
        </form>
    </div>
</body>
</html>

